name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            cv_takami.tex
            CV_KuyaTakami.tex
            resume_kuyaTakami_long.tex
            resume_takami.tex
          latexmk_use_lualatex: true
      - uses: actions/upload-artifact@v2
        with:
          name: compiled_pdfs
          path: ~/*.pdf
